.image{
  position: absolute;
  width: 100%;
  top: 62px;
  left: 0;
}
.user_wrapper{
  position: relative;
  color: white;
  text-shadow: 1px 1px var(--mainBlack);
}
.user_wrapper h1{
  font-size: 1.8rem;
}

.user_wrapper .user{
  display: flex;
  align-items: center;
  font-size: .7rem;
}
.user_wrapper .user h2{
  margin-left: .8rem;
}

.event_detail {
  color: var(--mainBlack);
  margin-top: 100px;
}
.event_detail .detail_left{
  background-color: var(--mainWhite);
  margin: 1px .8rem;
  padding: 2px 1rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.event_detail .detail_left p:nth-child(odd){
  font-weight: 600;
}
.event_detail .detail_rigth{
  
}


/* 
.event h3 {
  font-size: 25px;
}

.event p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: red;
}

.back {
  display: block;
  margin-top: 40px;
} */
