@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mianBlack2:#363636;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}

html,
body {
  font-family: "Mali", cursive;
  color: var(--mianBlack2);
  background: var(--mainWhite);
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn:hover {
  opacity: 0.9;
}

.spinner_content{
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  width: 100%;
  padding: .6rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.spinner__svg {
  fill: currentColor;
  color: white;
  width: 1.4rem;
  height: 1.4rem;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-secondary {
  font: inherit;
  font-size: 1.2rem;
  background: var(--mainYellow);
  color: var(--mainBlack)!important;
  padding: 8px 15px;
  margin-left: 8px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  transition: .3s;
}

.btn-secondary:hover {
  background: var(--mainBlack);
  color: var(--mainYellow)!important;
}
.btn-primary{
  font-size: 1.2rem;
  border: 1px solid var(--mainBlack);
  color: var(--mainBlack)!important;
  padding: 8px 15px;
  margin-left: 8px;
  cursor: pointer;
  transition: .3s;
}
.btn-primary:hover{
  background: var(--mainBlack);
  color: var(--mainWhite)!important;
}
.bagde{
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: .7rem;
  margin: 6px 0;
  transition: .3s;
}

/* .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.btn-icon svg {
  margin-right: 5px;
}
input:focus{
  border: 1px solid var(--mainYellow)!important;
  -webkit-box-shadow: 0 0 4px 0 var(--mainYellow)!important;
  box-shadow: 0 0 4px 0 var(--mainYellow)!important;
  outline: none;
}

.navActive{
  border-bottom: .05rem solid var(--mainYellow);
  color: var(--mainBlack)!important;
}